[submodule "stm32-hal"]
	path = stm32-hal
	url = https://github.com/Alark8/x1_wallet_hal_stm32.git
[submodule "cypherock-common"]
	path = common/cypherock-common
	url = https://github.com/Alark8/cypherock-common.git
[submodule "nanopb"]
	path = vendor/nanopb
	url = https://github.com/Alark8/nanopb.git
